<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832194658447-5ph4v6hb84slegm7bm0shs93m3d1nec5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832194658447-5ph4v6hb84slegm7bm0shs93m3d1nec5</string>
	<key>API_KEY</key>
	<string>AIzaSyDU7Cj4gToqt3_NTAYDp9S-PIzXn2LzmP0</string>
	<key>GCM_SENDER_ID</key>
	<string>832194658447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tamu.Promenade.Frontend</string>
	<key>PROJECT_ID</key>
	<string>avian-azimuth-360217</string>
	<key>STORAGE_BUCKET</key>
	<string>avian-azimuth-360217.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832194658447:ios:f2b5e71a3fffaaf026f0fa</string>
</dict>
</plist>