<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.111518080342-hl779ogfnnn9vfipdf7hala26pjmo0sn</string>
			</array>
		</dict>
	</array>
	<key>GIDclientID</key>
	<string>111518080342-hl779ogfnnn9vfipdf7hala26pjmo0sn.apps.googleusercontent.com</string>
</dict>
</plist>
