<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.832194658447-5ph4v6hb84slegm7bm0shs93m3d1nec5</string>
			</array>
		</dict>
	</array>
	<key>GIDclientID</key>
	<string>832194658447-5ph4v6hb84slegm7bm0shs93m3d1nec5.apps.googleusercontent.com</string>
</dict>
</plist>
